<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coeater.android">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <queries>
        <package android:name="com.kakao.talk" />
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        android:name=".GlobalApplication"
        tools:replace="allowBackup">

        <activity
            android:name=".splash.SplashActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.MAIN" />
                <!-- "kakao{YOUR_NATIVE_APP_KEY}://kakaolink" 형식의 앱 실행 스킴을 설정하는데 사용 -->
                <data android:host="kakaolink"
                    android:scheme="kakao5a266dea13fcf275e773bc6392f74fe7" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".matching.MatchingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".join.JoinActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".invitation.InvitationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".friends.AddFriendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mypage.MyPageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mypage.EditProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".webrtc.CallActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:screenOrientation="fullUser"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>

</manifest>